<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangmj.mapper.ConsumerMapper">

    <select id="findConsumerById" resultType="com.yangmj.entity.Consumer">
        SELECT
          `id`,
          `username`,
          `wechat_openid`,
          `phone`,
          `nickname`,
          `avatar_url`,
          `gender`,
          `email`,
          `deleted`,
          `created_by`,
          `created_at`,
          `updated_by`,
          `updated_at`
        FROM
          `consumer`
        WHERE `id` = #{id}
    </select>

    <select id="findConsumerByWechatOpenid" resultType="com.yangmj.entity.Consumer">
        SELECT
          `id`,
          `username`,
          `wechat_openid`,
          `phone`,
          `nickname`,
          `avatar_url`,
          `gender`,
          `email`,
          `deleted`,
          `created_by`,
          `created_at`,
          `updated_by`,
          `updated_at`
        FROM
          `consumer`
        WHERE `wechat_openid` = #{wechatOpenid}
    </select>

    
    <insert id="insertConsumer" parameterType="com.yangmj.entity.Consumer">
        INSERT INTO `consumer` (
          `username`,
          `wechat_openid`,
          `phone`,
          `nickname`,
          `avatar_url`,
          `gender`,
          `email`,
          `deleted`,
          `created_by`,
          `created_at`,
          `updated_by`,
          `updated_at`
        )
        VALUES
          (
            #{username},
            #{wechatOpenid},
            #{phone},
            #{nickName},
            #{avatarUrl},
            #{gender},
            #{email},
            #{deleted},
            #{createdBy},
            #{createdAt},
            #{updatedBy},
            #{updatedAt}
          )
    </insert>

    <update id="updateConsumer" parameterType="com.yangmj.entity.Consumer">
        UPDATE
          `consumer`
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">
                `username` = #{username},
            </if>
            <if test="phone != null and phone != ''">
                `phone` = #{phone},
            </if>
            <if test="nickName != null and nickName != ''">
                `nickname` = #{nickName},
            </if>
            <if test="avatarUrl != null and avatarUrl != ''">
                `avatar_url` = #{avatarUrl},
            </if>
            <if test="gender != null">
                `gender` = #{gender},
            </if>
            <if test="email != null and email != null">
                `email` = #{email},
            </if>
            <if test="deleted != null">
                `deleted` = #{deleted},
            </if>
            <if test="updatedBy != null">
                `updated_by` = #{updatedBy},
            </if>
            <if test="updatedAt != null">
                `updated_at` = #{updatedAt},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>


</mapper>